body, html {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: $fontColor;
}

.iconfont {
  font-size: 72px;
  color: #fff;
}

img {
  display: block;
}

button {
  display: block;
  border: 0;
  width: 100%;
  &:focus {
    outline: 0;
  }
}
